@page { size: portrait letter; background: white; color: black; margin: 0; }

header { display: none; }

:root {
  --font: "Michroma";
  --font-bold: "Federation Bold";
  --font-header: "Federation Bold";
  --font-title: "Battlestar";
  --font-quote: "Shadows Into Light";
  --font-block: "Wallpoet";
  --font-icon: "Noto Sans";
  --font-info: "Noto Sans SemCond";
  --box-1: '\2610';
  --box-2: '\2610' '\2610';
  --box-3: '\2610' '\2610' '\2610';
  --box-4: '\2610' '\2610' '\2610' '\2610';
  --box-5: '\2610' '\2610' '\2610' '\2610' '\2610';
  --box-6: '\2610' '\2610' '\2610' '\2610' '\2610' '\2610';
  --box-7: '\2610' '\2610' '\2610' '\2610' '\2610' '\2610' '\2610';
  --box-8: '\2610' '\2610' '\2610' '\2610' '\2610' '\2610' '\2610' '\2610';
  --box-9: '\2610' '\2610' '\2610' '\2610' '\2610' '\2610' '\2610' '\2610' '\2610';
  --box-10: '\2610' '\2610' '\2610' '\2610' '\2610' '\2610' '\2610' '\2610' '\2610' '\2610';
  --box-checked: '\2611';
  --bg-light: #e0e0e0;
}

.charsheet {
  height: 5.5in;
  padding-left: 0.25in; 
  padding-right: 0.25in; 
  padding-top: 0.25in; 
  padding-bottom: 0;
  box-sizing: border-box; 
  columns: 2 auto;
  column-gap: 4pt;
  position: relative;
}

.charsheet:nth-child(even) {
  border-bottom: 0.5pt dashed silver;
}
.charsheet:nth-child(even):after {
  display: inline-block;
  font-size: 7pt;
  color: silver;
  background-color: white;
  position: absolute;
  bottom: -4pt;
  left: 290pt;
  width: auto;
  padding-left: 4pt;
  padding-right: 4pt;
  content: 'cut here';
  font-family: var(--font-info);
}

.ship-sheet {
  box-sizing: border-box;
  margin: 0;
  width: 305pt;
  height: 5.5in;
  padding: 0.25in;
  display: inline-block;
  position: relative;
  vertical-align: top;
}

.ship-sheet h3 img { width: 0.75in; top: 5pt; right: 12.5pt; }
.ship-sheet .bio .name { width: 180pt; }
.ship-sheet .bio .pilot { width: 84pt;  
  content: 'Pilot';
  display: inline-block; 
  box-sizing: border-box; 
  padding-left: 4pt;
  background: var(--bg-light);
  height: 24pt;
}

.ship-sheet .ship-data ul { margin: 0; }
.ship-sheet .ship-data ul li { 
  margin-top: 4pt;
  list-style-type: none; 
  margin-left: 0;
}

.ship-sheet :matches(.resist, .vulnerable, .mount-points, .tags) {
  display: block;
  box-sizing: border-box;
  padding-left: 4pt; 
  padding-top: 6pt;
  background: var(--bg-light);
  font-family: var(--font-bold);
  font-size: 10pt;
}
.ship-sheet .resist, .ship-sheet .vulnerable { width: 132pt; height: 24pt; display: inline-block; }
.ship-sheet .mount-points { height: 24pt; }
.ship-sheet .resist { margin-right: 4pt; }
.ship-sheet .tags { height: 32pt; margin-bottom: 4pt; }

.ship-sheet :matches(.mount-points, .tags, .resist, .vulnerable):before {
  display: inline-block;
  padding-right: 1em;
  position: relative;
  top: -6pt;
  font-family: var(--font);
  font-size: 9pt;
}

.ship-sheet .mount-points:before { content: 'Mount Points '; }
.ship-sheet .tags:before { content: 'Ship Tags '; }
.ship-sheet .resist:before { content: 'Resist '; }
.ship-sheet .vulnerable:before { content: 'Vulnerable '; }

.ship-sheet .stats table th { font-size: 8pt; padding: 2pt; }
.ship-sheet .stats table td { padding: 4pt; }
.ship-sheet .stats table :matches(th, td):nth-child(1) { width: 54pt; }
.ship-sheet .stats table :matches(th, td):nth-child(2) { width: 54pt; }
.ship-sheet .stats table :matches(th, td):nth-child(3) { width: 54pt; }
.ship-sheet .stats table :matches(th, td):nth-child(4) { width: 108pt; }

.ship-sheet:nth-of-type(4n+1) { border-bottom: 0.5pt dashed silver; }
.ship-sheet:nth-of-type(4n+2) { border-bottom: 0.5pt dashed silver; }
.ship-sheet:nth-of-type(4n+1) { border-right:  0.5pt dashed silver; }
.ship-sheet:nth-of-type(4n+3) { border-right:  0.5pt dashed silver; }

.ship-sheet h3 .sub { font-size: 50%; }
.ship-sheet h3 { font-size: 18pt; letter-spacing: 0; }
.ship-sheet h3:before { letter-spacing: 0; }

#template.charsheet { display: none; }

body {
  font-family: var(--font);
  font-size: 8pt; 
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-header);
  margin-top: 0; 
  margin-bottom: 0; 
}

h3 {
  column-span: all;
  font-family: var(--font-title);
  letter-spacing: 0.5em; 
  text-align: center; 
  font-size: 32pt;
  font-weight: normal;
}
h3:before {
  display: inline-block;
  width: auto;
  position: absolute;
  font-size: 50%; 
  top: 0.25in;
  left: 0.25in;
  color: gray;
  letter-spacing: 0.125em;
  content: 'Pioneers';
}

h3 img { 
  opacity: 0.5;
  width: 1.25in;
  height: auto;
  position: absolute;
  top: 0; right: 10pt;
}

h4 {
  display: none;
}

table, tr, th, td {
  box-sizing: border-box;
  font-size: 9pt;
}

table {
  border-spacing: 0;
  border-collapse: collapse; 
  width: 100%; 
}

table th {
  border-bottom: 0.5pt solid black;
  font-family: var(--font-bold);
  font-weight: normal;
}

.stats table {
  border: 1px solid black;
  column-span: all;
}

.stats table :matches(th, td) {
  width: 16.67%;
}

.stats table td {
  font-size: 12pt;
  padding-top: 6pt; 
  padding-bottom: 6pt;
}

.stats table th {
  font-size: 10pt;
  padding: 3pt;
}

.stats table :matches(td, th):nth-child(3) {
  border-right: 0.5pt solid gray;
}

.stats table td {
  border-right: 0.25pt solid silver;
}

.stats table td {
  color: gray;
}

.stats table td:nth-child(n+4) {
  color: black;
}

.stats table th {
  border-bottom: 0.5pt solid gray;
}

.box1 {
  content: var(--box-1);
  font-family: var(--font-icon); 
}

.box2 { content: var(--box-2); font-family: var(--font-icon); }
.box3 { content: var(--box-3); font-family: var(--font-icon); }
.box4 { content: var(--box-4); font-family: var(--font-icon); }
.box5 { content: var(--box-5); font-family: var(--font-icon); }
.box6 { content: var(--box-6); font-family: var(--font-icon); }
.box7 { content: var(--box-7); font-family: var(--font-icon); }
.box8 { content: var(--box-8); font-family: var(--font-icon); }
.box9 { content: var(--box-9); font-family: var(--font-icon); }
.box10 { content: var(--box-10); font-family: var(--font-icon); }

:matches( .box2, .box3, .box4, .box5, .box6, .box7, .box8, .box9, .box10).gray { color: gray; }

.boxc {
  content: var(--box-checked);
  font-family: var(--font-icon);
}

.box0 {
  content: var(--box-1);
  font-family: var(--font-icon);
  color: gray;
}

.health, .impulse, .kit { font-family: var(--font-icon); }

table td .empty { content: ' '; display: inline-block; height: 2em; }

/* armor table --------------------------------------------------------- */
.armor table { break-inside: avoid; }
.armor table td { font-family: var(--font-info); vertical-align: top; } 
.armor table th:first-child { font-family: var(--font-bold); font-weight: normal; font-size: 10pt; }
.armor table th { border-bottom: none; font-weight: bold; font-family: var(--font-info); }
.armor table tbody tr:nth-child(odd) { background: var(--bg-light); }
.armor table td:nth-child(1)      { width: 80pt; }
.armor table td:nth-child(2)      { width: 56pt; }
.armor table td:first-child       { padding-left: 14pt; }
.armor table td:first-child .box1 { margin-left: -12pt; }
.armor table td .box6 { content: var(--box-6); }
.armor table td .box3 { content: var(--box-3); }
.armor table td .box6.gray { color: gray; }

/* weapons table --------------------------------------------------------- */
.weapons table { break-inside: avoid; }
.weapons table td { font-family: var(--font-info); vertical-align: top; } 

.weapons table th:first-child { font-family: var(--font-bold); font-weight: normal; font-size: 10pt; }
.weapons table th:nth-child(2) { text-align: left; }
.weapons table th { border-bottom: none; font-weight: bold; font-family: var(--font-info); }
.weapons table tbody tr:nth-child(odd) { background: var(--bg-light); }

.weapons table td:nth-child(1)      { width: 80pt; }
.weapons table td:nth-child(2)      { width: 74pt; }
.weapons table td:nth-child(3)      { width: 32pt; }
.weapons table td:last-child        { padding-right: 2pt; }
.weapons table td:first-child       { padding-left: 14pt; }
.weapons table td:first-child .box1 { margin-left: -11pt; }

.weapons table td :matches(.close, .mid, .far):after { font-size: 7pt; font-style: italic; }
.weapons table td .means { font-size: 7pt; font-style: italic; }

.weapons table td .close:after  { content: ' close '; }
.weapons table td .mid:after    { content: ' mid ';   }
.weapons table td .far:after    { content: ' far ';   }
.weapons table td .means        {                     }
.weapons table td .means:before { content: '(';       }
.weapons table td .means:after  { content: ')';       }

.weapons table td .ship:before { font-style: italic; content: 'Ship-'; }
.ship-sheet .weapons table td:nth-child(3) { width: 50pt; }

/* talents ---------------------------------------------------------------- */

.talents ul { margin: 0; }

.talents ul li { 
  margin-left: 0;
  padding-left: 18pt;
  list-style-type: none;
  margin-bottom: 3pt;
  font-family: var(--font-info);
  font-size: 9pt;
}

#soyuz .talents ul li { margin-bottom: 0; margin-top: 0; }

.talents ul li strong { 
  font-size: 10pt;
  vertical-align: baseline;
  margin-left: -18pt;
  position: relative;
  margin-right: 0.5em;
  top: 0.5pt;
  font-family: var(--font-bold);
  font-weight: normal;
  letter-spacing: 0;
  word-spacing: -0.25em;
}

.talents ul li .ship-talent { font-style: italic; content: 'Ship Talent'; }
.talents ul li .react-talent { font-style: italic; content: 'React Talent'; }


/* med-patch ----------------------------------------------------------- */

.med-patch { margin-top: 4pt; }
.med-patch ul { margin: 0; }
.med-patch ul li { 
  list-style-type: none; 
  margin-left: 0; 
  margin-bottom: 4pt; 
  display: inline-block; 
  box-sizing: border-box; 
  padding-left: 4pt;
  background: var(--bg-light);
  height: 24pt;
}

.med-patch ul li:after {
  content: var(--box-1);
  font-family: var(--font-icon); 
}
#soyuz .med-patch ul li:after {
  content: var(--box-3);
}

/* bio ----------------------------------------------------------------- */

.bio { column-span: all; margin-top: 4pt; }

.bio ul { margin: 0; }
.bio ul li {
  list-style-type: none;
  margin-left: 0;
  margin-bottom: 4pt; 
}

.bio ul li :matches(.name, .pronouns, .colony, .talent) {
  display: inline-block; 
  box-sizing: border-box; 
  padding-left: 4pt;
  background: var(--bg-light);
  height: 24pt;
}

.bio ul li .name     { width: 286pt; content: 'Name';     margin-right: 4pt; }
.bio ul li .pronouns { width: 286pt; content: 'Pronouns'; margin-right: 0; }
.bio ul li .colony   { width: 286pt; content: 'Colony';   margin-right: 4pt; }
.bio ul li .talent   { width: 286pt; content: 'Colony Talent';   margin-right: 0; }

/* notes ----------------------------------------------------------- */

.notes ul { margin: 0; }
.notes ul li { 
  list-style-type: none; 
  margin-left: 0;
  background: var(--bg-light);
  padding-left: 4pt;
  height: 42pt;
  margin-bottom: 4pt;
}

#mercury          .notes ul li { height:  30pt; }
#soyuz            .notes ul li { height:  30pt; }

#comms-relay      .notes ul li { height:  70pt; }
#tanker           .notes ul li { height:  50pt; }
#mining-rig       .notes ul li { height:  93pt; }
#ore-hauler       .notes ul li { height:  93pt; }
#racing-yacht     .notes ul li { height:  93pt; }
#repair-pod       .notes ul li { height:  80pt; }
#shuttle          .notes ul li { height:  30pt; }
#solar-glider     .notes ul li { height: 125pt; }
.ship-sheet.blank .notes ul li { height:  78pt; }

/* gear ------------------------------------------------------------ */

.gear ul { margin: 0; position: relative; }
.gear ul li { 
  list-style-type: none; 
  margin-left: 0; 
  height: 40pt;
}
.gear ul li:first-child {
  padding-left: 4pt;
  background: var(--bg-light);
}
.gear ul li:nth-child(2) {
  position: absolute;
  right: 4pt;
  top: 0;
}

#apollo .gear ul li:first-child { height: 28pt; }
#mercury .gear ul li:first-child { height: 53pt; }
#soyuz .gear       { margin-top: 4pt; }
#gemini .gear ul li:first-child { height: 40.5pt; }
