@page:nth(1  ) { background-image: url("../art/mobile/earth-cropped-1.jpg"               ) ; }
@page:nth(2  ) { background-image: url("../art/mobile/blue-2-0.jpg"              ) ; }
@page:nth(3  ) { background-image: url("../art/mobile/blue-2-1.jpg"              ) ; }
@page:nth(4  ) { background-image: url("../art/mobile/golden-record-0.jpg"       ) ; }
@page:nth(5  ) { background-image: url("../art/mobile/golden-record-1.jpg"       ) ; }
@page:nth(7  ) { background-image: url("../art/mobile/jupiter-0.jpg"             ) ; }
@page:nth(8  ) { background-image: url("../art/mobile/red-nebula-0.jpg"          ) ; }
@page:nth(9  ) { background-image: url("../art/mobile/funky-interior-1.jpg"      ) ; }
@page:nth(10 ) { background-image: url("../art/mobile/rhea-rings-0.jpg"          ) ; }
@page:nth(11 ) { background-image: url("../art/mobile/island3-1.jpg"             ) ; }
@page:nth(12 ) { background-image: url("../art/mobile/nasty-0.jpg"               ) ; }
@page:nth(13 ) { background-image: url("../art/mobile/abstract-jupiter-0.jpg"    ) ; }
@page:nth(14 ) { background-image: url("../art/mobile/abstract-jupiter-1.jpg"    ) ; }
@page:nth(15 ) { background-image: url("../art/mobile/eclipse-0.jpg"             ) ; }
@page:nth(16 ) { background-image: url("../art/mobile/nebula-0.jpg"              ) ; }
@page:nth(17 ) { background-image: url("../art/mobile/nebula-1.jpg"              ) ; }
@page:nth(18 ) { background-image: url("../art/mobile/space-colony-1.jpg"        ) ; } 
@page:nth(19 ) { background-image: url("../art/mobile/nebula3-0.jpg"             ) ; }
@page:nth(20 ) { background-image: url("../art/mobile/nebula3-1.jpg"             ) ; }
@page:nth(21 ) { background-image: url("../art/mobile/titan-lakes-0.jpg"         ) ; }
@page:nth(22 ) { background-image: url("../art/mobile/sphere-interior-0.jpg"     ) ; }
@page:nth(23 ) { background-image: url("../art/mobile/aquasimian-1.jpg"          ) ; }
@page:nth(24 ) { background-image: url("../art/mobile/exoplanet-1.jpg"           ) ; }
@page:nth(25 ) { background-image: url("../art/mobile/solar-system-map-1.jpg"    ) ; }
@page:nth(26 ) { background-image: url("../art/mobile/to-the-moon-0.jpg"         ) ; }
@page:nth(27 ) { background-image: url("../art/mobile/earth-0.jpg"               ) ; }
@page:nth(28 ) { background-image: url("../art/mobile/curiosity-mars-1.jpg"      ) ; }
@page:nth(29 ) { background-image: url("../art/mobile/europa-surface-1.jpg"      ) ; }
@page:nth(30 ) { background-image: url("../art/mobile/saturn-0.jpg"              ) ; }
@page:nth(31 ) { background-image: url("../art/mobile/rocky-vega-2.jpg"          ) ; }
@page:nth(32 ) { background-image: url("../art/mobile/pluto-noon-0.jpg"          ) ; }

@page:nth(33 ) { background-image: url("../art/mobile/cassini-probe-0.jpg"       ) ; }
@page:nth(34 ) { background-image: url("../art/mobile/cassini-probe-1.jpg"       ) ; }
@page:nth(35 ) { background-image: url("../art/mobile/rover-eye-1.jpg"           ) ; }
@page:nth(36 ) { background-image: url("../art/mobile/phoenix-cropped-0.jpg"     ) ; }

@page:nth(37 ) { background-image: url("../art/mobile/insight-lander-1.jpg"      ) ; }
@page:nth(38 ) { background-image: url("../art/mobile/lunar-flashlight-0.jpg"    ) ; }
@page:nth(39 ) { background-image: url("../art/mobile/viking-1.jpg"              ) ; }

@page:nth(40 ) { background-image: url("../art/mobile/venus-approach-1.jpg"      ) ; }
@page:nth(41 ) { background-image: url("../art/mobile/exploding-planet-1.jpg"    ) ; }
@page:nth(42 ) { background-image: url("../art/mobile/hit-europa-0.jpg"          ) ; }
@page:nth(43 ) { background-image: url("../art/mobile/waterworld-0.jpg"          ) ; }
@page:nth(44 ) { background-image: url("../art/mobile/waterworld-1.jpg"          ) ; }
@page:nth(45 ) { background-image: url("../art/mobile/tracking-satellites-1.jpg" ) ; }
@page:nth(46 ) { background-image: url("../art/mobile/vesta-1.jpg"               ) ; }
@page:nth(47 ) { background-image: url("../art/mobile/x34-1.jpg"                 ) ; }
@page:nth(48 ) { background-image: url("../art/mobile/green-station-1.jpg"       ) ; }
@page:nth(49 ) { background-image: url("../art/mobile/distant-solar-2.jpg"       ) ; }
@page:nth(50 ) { background-image: url("../art/mobile/neowise-0.jpg"             ) ; }
@page:nth(51 ) { background-image: url("../art/mobile/neowise-1.jpg"             ) ; }
@page:nth(52 ) { background-image: url("../art/mobile/fuel-satellite-0.jpg"      ) ; }
@page:nth(53 ) { background-image: url("../art/mobile/ldsd-0.jpg"                ) ; }
@page:nth(54 ) { background-image: url("../art/mobile/fuel-satellite-1.jpg"      ) ; }
@page:nth(55 ) { background-image: url("../art/mobile/keppler-1-1.jpg"           ) ; }
@page:nth(56 ) { background-image: url("../art/mobile/space-polycule-breakup-1.jpg"  ) ; }
@page:nth(57 ) { background-image: url("../art/mobile/four-legged-robot-1.jpg"   ) ; }
@page:nth(58 ) { background-image: url("../art/mobile/dawn-arrival-0.jpg"        ) ; }
@page:nth(59 ) { background-image: url("../art/mobile/dawn-arrival-1.jpg"        ) ; }
@page:nth(60 ) { background-image: url("../art/mobile/mercury-1.jpg"             ) ; }
@page:nth(61 ) { background-image: url("../art/mobile/psyche-0.jpg"              ) ; }
@page:nth(62 ) { background-image: url("../art/mobile/torus-interior-1.jpg"      ) ; }
@page:nth(63 ) { background-image: url("../art/mobile/eris-0.jpg"                ) ; }
@page:nth(64 ) { background-image: url("../art/mobile/eris-1.jpg"                ) ; }
@page:nth(65 ) { background-image: url("../art/mobile/black-hole-1.jpg"          ) ; }
@page:nth(66 ) { background-image: url("../art/mobile/torus-0.jpg"               ) ; }
@page:nth(67 ) { background-image: url("../art/mobile/torus-1.jpg"               ) ; }

