@page:nth(2  ) { background-image: url("../art/blue-2.jpg"              ) ; }
@page:nth(3  ) { background-image: url("../art/golden-record.jpg"       ) ; }
@page:nth(4  ) { background-image: url("../art/jupiter.jpg"             ) ; background-position: bottom; }
@page:nth(5  ) { background-image: url("../art/red-nebula.jpg"          ) ; }
@page:nth(6  ) { background-image: url("../art/funky-interior.jpg"      ) ; }
@page:nth(7  ) { background-image: url("../art/rhea-rings.jpg"          ) ; }
@page:nth(8  ) { background-image: url("../art/island3.jpg"             ) ; }
@page:nth(9  ) { background-image: url("../art/nasty.jpg"               ) ; }
@page:nth(10 ) { background-image: url("../art/abstract-jupiter.jpg"    ) ; }
@page:nth(11 ) { background-image: url("../art/eclipse.jpg"             ) ; background-position: 0 75%; }
@page:nth(12 ) { background-image: url("../art/nebula.jpg"              ) ; }
@page:nth(13 ) { background-image: url("../art/space-colony.jpg"        ) ; } 
@page:nth(14 ) { background-image: url("../art/nebula3.jpg"             ) ; }
@page:nth(15 ) { background-image: url("../art/titan-lakes.jpg"         ) ; }
@page:nth(16 ) { background-image: url("../art/sphere-interior.jpg"     ) ; }
@page:nth(17 ) { background-image: url("../art/aquasimian.jpg"          ) ; }
@page:nth(18 ) { background-image: url("../art/exoplanet.jpg"           ) ; }
@page:nth(19 ) { background-image: url("../art/solar-system-map.jpg"    ) ; }
@page:nth(20 ) { background-image: url("../art/to-the-moon.jpg"         ) ; background-position: 0 75%; }
@page:nth(21 ) { background-image: url("../art/earth.jpg"               ) ; }
@page:nth(22 ) { background-image: url("../art/curiosity-mars.jpg"      ) ; }
@page:nth(23 ) { background-image: url("../art/europa-surface.jpg"      ) ; }
@page:nth(24 ) { background-image: url("../art/saturn.jpg"              ) ; }
@page:nth(25 ) { background-image: url("../art/rocky-vega.jpg"          ) ; }
@page:nth(26 ) { background-image: url("../art/pluto-noon.jpg"          ) ; background-position: 0 75%; }
@page:nth(27 ) { background-image: url("../art/cassini-probe.jpg"        ) ; }
@page:nth(28 ) { background-image: url("../art/rover-eye.jpg"    ) ; }
@page:nth(29 ) { background-image: url("../art/phoenix-cropped.jpg"             ) ; }
@page:nth(30 ) { background-image: url("../art/insight-lander.jpg"    ) ; }
@page:nth(31 ) { background-image: url("../art/lunar-flashlight.jpg"    ) ; }
@page:nth(32 ) { background-image: url("../art/viking.jpg"    ) ; }
@page:nth(33 ) { background-image: url("../art/venus-approach.jpg"      ) ; }
@page:nth(34 ) { background-image: url("../art/exploding-planet.jpg"    ) ; }
@page:nth(35 ) { background-image: url("../art/hit-europa.jpg"          ) ; }
@page:nth(36 ) { background-image: url("../art/waterworld.jpg"          ) ; }
@page:nth(37 ) { background-image: url("../art/tracking-satellites.jpg" ) ; }
@page:nth(38 ) { background-image: url("../art/vesta.jpg"               ) ; }
@page:nth(39 ) { background-image: url("../art/x34.jpg"                 ) ; }
@page:nth(40 ) { background-image: url("../art/green-station.jpg"       ) ; }
@page:nth(41 ) { background-image: url("../art/distant-solar.jpg"       ) ; }
@page:nth(42 ) { background-image: url("../art/neowise.jpg"             ) ; }
@page:nth(43 ) { background-image: url("../art/ldsd.jpg"                ) ; }
@page:nth(44 ) { background-image: url("../art/fuel-satellite.jpg"      ) ; }
@page:nth(45 ) { background-image: url("../art/keppler-1.jpg"           ) ; }
@page:nth(46 ) { background-image: url("../art/space-polycule-breakup.jpg"  ) ; }
@page:nth(47 ) { background-image: url("../art/four-legged-robot.jpg"   ) ; }
@page:nth(48 ) { background-image: url("../art/dawn-arrival.jpg"        ) ; }
@page:nth(49 ) { background-image: url("../art/psyche.jpg"              ) ; }
@page:nth(50 ) { background-image: url("../art/torus-interior.jpg"      ) ; }
@page:nth(51 ) { background-image: url("../art/eris.jpg"                ) ; }
@page:nth(52 ) { background-image: url("../art/black-hole.jpg"          ) ; }
@page:nth(53 ) { background-image: url("../art/torus.jpg"               ) ; }
