/* base css file for TTRPG projects */
/* Reminder: 1in = 72 pt; 0.75in = 54pt; 0.5in = 36pt; 0.25in = 18pt; 0.125in = 9 pt; */
@page { size: portrait letter; background: white; color: black; margin: 0.5in; margin-bottom: 0.75in; }
header        { display: none;                       }
header p.date { string-set: date content()           }
header h1     { string-set: gamename content()       }

@prince-pdf {
}

@page { background-size: cover; background-repeat: no-repeat; }

@font-face { 
  font-family: "Federation";
  font-style: normal;
  font-weight: normal;
  src: url("/home/cadera/.fonts/Federation_1.ttf");
}

:root {
  --font: "Noto Sans";
  --font-bold: "Noto Sans";
  --font-header: "Federation Bold"; 
  --font-title: "Battlestar";
  --font-quote: "Shadows Into Light";
  --font-block: "Wallpoet";
  --font-info: "Noto Sans SemCond";
  --font-chinese: "Noto Sans SC";

  --icon-game: 'game-icons';

  --large:     14pt;
  --larger:    12pt;
  --body:      10pt;
  --smaller:    9pt;
  --small:      8pt;
  --title:     48pt;
  --subtitle:  32pt;
  --h1:        22pt; 
  --h2:        18pt;
  --h3:        15pt;
  --h4:        13pt;
  --h5:        12pt;
  --h6:        10pt;
  --th:        10pt;
  --quote:     12pt;
  --quote-redalert: 10pt;

  --color-line:    gray;
  --color-light:   silver;
  --color-toolkit: #006600;

  --bgcolor-sidebar: #EEEEEE;
  --bgcolor-toolkit: #F8FFF8;

}

@page { @bottom-center { 
  font-family: var(--font-header);
  font-size: 20pt;
  border-top: 1pt solid black;
  content: counter(page);
  margin-left: -0.5in;
  margin-right: -0.5in;
} } 

body { 
  color: black;
  columns: 2 auto;
  column-gap: 0.25in;
}

body               { font-family: var(--font); font-size: var(--body);      }
td                 { font-size: var(--body); vertical-align: top;           }
th                 { font-family: var(--font-bold); font-size: var(--th); }
h1                 { font-family: var(--font-header); font-size: var(--h1); }
h2                 { font-family: var(--font-header); font-size: var(--h2); }
h3                 { font-family: var(--font-header); font-size: var(--h3); font-variant: small-caps; }
h4                 { font-family: var(--font-header); font-size: var(--h4); border-bottom: 0.5pt solid gray; margin-bottom: 8pt; }
h5                 { font-family: var(--font-header); font-size: var(--h5); color: gray; }
h6                 { font-family: var(--font-header); font-size: var(--h6); }
h1                 { break-after: avoid-page; break-inside: avoid;          }
h2, h3, h4, h5, h6 { break-inside: avoid; break-after: avoid;               }
h1                 { column-span: all; text-align: center;                  }
.nobreak           { break-before: avoid-page;                              }
.nocolbreak        { break-before: avoid-column;                            }
.colspan           { column-span: all;                                      }
.bottom            { column-span: all; float: page-bottom;                  }
p+table            { break-before: avoid-page;                              }
table              { border-collapse: collapse; break-inside: avoid-page;   }
table tr           { break-inside: avoid-page;                              }
table thead        { break-after: avoid;                                    }
table thead        { border-bottom: 0.5pt solid var(--color-line);          }
table th, table td { padding: 2pt;                                          }
table th           { vertical-align: bottom;                                }
table td           { vertical-align: top;                                   }

li           { break-inside: avoid; }
ul, ol       { margin-left: 1em;    }
ul li, ul ol { margin-left: 1em;    }

.sidebar.next { float-defer-column: 1;                                                    }
.sidehead     { font-weight: bold; font-family: var(--font-header); font-size: var(--h4); }

img { -prince-image-resolution: 96;
      -prince-image-magic: recompress(50%) convert-to-jpeg(50%) snap-to-integer-coords; } 

p, li { orphans: 3; line-height: 1.60; }

a:link, a:visited, a:active, a:hover { color: navy; text-decoration: none; }

.anchor { position: absolute; color: transparent; }

.gamename:before { content: string(gamename); font-family: var(--font-title); }

#charsheet { page: charsheet; break-before: right; height: 11in; width: 8.5in; }

@page:first { 
  margin: 0;
  padding: 0.75in 0.5in;
  border-top: 2in solid black;
  border-bottom: 2in solid black;
  background-color: black;
  background-image: url("../art/blue-2.jpg");
  background-position: center center; 
  background-size: auto 100%;
}

#cover { text-align: center; page: cover;}
#cover h1.title { 
  color: white;
  font-family: var(--font-title);
  margin-top: 0.0in;
  margin-bottom: 0.50in;
  font-size: var(--title); 
  font-weight: normal; 
  letter-spacing: 0.5em;
  text-align: center; 
  text-transform: uppercase;
  text-shadow: 0 0 6pt black;
}

#cover h2, #cover h3, #cover h4, #cover h5 { 
  text-align: center; 
  column-span: all;
  color: white;
  font-variant: normal;
  border-bottom: 0;
  font-size: var(--subtitle);
  margin-top: 0.65in;
  margin-left: 1.0in;
  margin-right: 1.0in;
  padding: 0;
  text-shadow: 0 0 6pt black;
}

#cover h5 { 
  position: absolute;
  left: 0;
  right: 0;
  bottom: -2.0in;
  font-size: var(--h2);
  }
#cover p { text-align: center;
  column-span: all;
  }
#cover img { width: 1.5in;
  position: absolute;
  bottom: -2.0in;
  right: 0;
  height: auto;
  background: black;
  }

.title { 
  font-family: var(--font-title); 
  font-weight: normal; 
  text-transform: uppercase; 
  letter-spacing: 0.5em;
}

#toc {
  padding: 6pt;
  background: #e0e0e0;
  break-before: column;
}

#toc:before {
  font-size: var(--h4);
  font-family: var(--font-header);
  content: 'Table of Contents';
  display: block;
  margin-bottom: 6pt;
}

#toc ul { margin: 0;
  padding: 0;
  }
#toc ul li { margin-bottom: 0;
  margin-left: 0;
  }
#toc ul li li { margin-bottom: 0;
  line-height: 1.25;
  color: gray;
  }
#toc ul li li a:before { width: 80pt;
  margin-left: 8pt;
  color: black;
  display: inline-block;
  font-size: var(--smaller);
  }
#toc ul li li a:after { font-size: var(--smaller);
  color: black;
  }

#toc a:before { 
  content: target-content(attr(href));
  font-family: var(--font);
  display: inline-block;
  width: 88pt;
  }
#toc a {
  content: leader(' \22ef\2d\2d\2d\22ef');
  color: black;
  font-family: var(--font);
  }
#toc a:after {
  content: target-counter(attr(href), page);
  font-family: var(--font-bold);
  display: inline-block;
  text-align: right;
  width: 12pt;
  }

#class-apollo { break-before: page; }

#toc-attributes,
#step-colony,
#step-gear,
#toc-fights,
#toc-solar-system,
#toc-pions,
#step-ship,
#toc-fleet,
#toc-pion-ships,
#toc-mc,
#toc-ops,
#toc-credits
{ break-before: page;
  column-span: all;
  font-size: var(--h1);
  margin-top: 0;
  margin-left: -0.5in;
  margin-right: -0.5in;
  border-bottom: 2pt solid black;
  padding-left: 0.5in;
  padding-right: 0.5in;
  padding-bottom: 3pt;
}

#toc-weapon-tags,
#toc-chargen,
#step-class,
#toc-gear-other,
#toc-turn-player,
#toc-attacking,
#toc-turn-mc,
#toc-pion-moves,
#toc-drops,
#toc-death,
#toc-location-tags,
#toc-location-earth,
#toc-location-inner,
#toc-location-jupiter,
#toc-location-saturn,
#toc-location-uranus,
#toc-location-trans,
#toc-pion-mariner,
#toc-pion-ulysses,
#toc-pion-viking,
#toc-ship-fights,
#toc-ship-weapons,
#toc-ship-tags,
#toc-fleet-comms-relay,
#toc-fleet-mining-rig,
#toc-fleet-racing-yacht,
#toc-fleet-shuttle,
#toc-fleet-solar-glider,
#toc-pion-ship-kosmos,
#toc-pion-ship-sakigake,
#toc-pion-ship-zond,
#toc-mc-why,
#toc-mc-rp,
#toc-ops-planetary,
#toc-ops-space,
#toc-ops-combined,
#toc-ops-prep,
#toc-ops-travel,
#toc-ops-end,
#toc-weapons
{ break-before: column; }

#toc-ship-tags + p { break-after: avoid; }
#toc-ship-weapons + p + div ul { margin-bottom: 0; }
#toc-ship-weapons + p + div + div ul { margin-top: 0; }


th { white-space: pre; }

h2.headline { font-size: var(--subtitle);
  column-span: all;
  text-align: center;
  break-before: page;
  }


.class { 
  break-before: column;
  break-after: column;
}

.class table { 
  margin-bottom: 8pt;
  }
.class table :matches(td, th) { width: 16.666%;
  padding: 4pt;
  }
.class table td { font-size: var(--h3);
  } 
.class table td:nth-child(3) { border-right: 1px solid silver;
  }
.class table th:nth-child(3) { border-right: 1px solid silver;
  }
.class table th { font-size: var(--body);
  font-family: var(--font);
  }

.class table { margin-top: 12pt; }
.class h2 { 
  font-variant: normal;
}
.class h3 { font-size: var(--h4); }
.class h3.classquote { 
   font-variant: normal;
   font-family: var(--font);
   font-weight: normal;
   text-align: center;
   font-style: italic;
   border-bottom: none;
}

.classtable table { }
.classtable table :matches(td, th) { width: 10%;
  padding: 2pt 4pt;
  font-size: var(--body);
  }
.classtable table :matches(td, th):first-child { width: 20%;
  }
.opsmastertable { width: 100%; }
.opsmastertable table { width: 100%; }
.opsmastertable,
.classtable { float: page bottom;
  column-span: all;
  }
.classtable table :matches(td, th):nth-child(4) { border-right: 1px solid gray;
  padding-right: 1em;
  }

.drops td:nth-child(2) { white-space: pre; }
.dying table , .preptable table , .traveltimes table  { width: 100%; }

strong { font-family: var(--font-bold); } 

ul li { list-style-type: none;
  }
ul { margin-left: 2em;
  break-inside: avoid;
  }
ul li strong { margin-left: -2em;
  padding-right: 0.25em;
  }
ol li { margin-left: 2em;
  }

.breakable ul { break-inside: auto; }

h1, h2, h3, h4, h5, h6 { font-weight: normal; }

.infotable table { padding: 8px;
  }
.infotable table :matches(th, td) { font-family: var(--font-info);
  }

.infolist ul li strong { 
  font-family: var(--font-bold);
  }
.infolist ul { 
  margin-left: 0;
  }
.infolist ul li { padding-left: 1em;
  font-family: "Noto Sans Cond";
  font-size: var(--body);
  }

blockquote p strong { 
  font-family: var(--font-quote);
  }
blockquote p { line-height: 1.25;
  }
.redalert blockquote p { line-height: 1.4;
  }
blockquote { 
  font-family: var(--font-quote);
  font-size: var(--quote);
  margin-left: 8pt;
  margin-right: 8pt;
  }
.redalert blockquote { 
  font-family: var(--font-block);
  font-size: var(--quote-redalert);
  } 
blockquote .credit { display: block;
  font-family: var(--font-info);
  font-style: italic;
  text-align: right;
  font-size: var(--body);
  padding-top: 4px;
  break-before: avoid;
  }

blockquote .chinese { font-family: var(--font-chinese); }

.traveltimes { float: column bottom; margin-top: 9pt; }

a.page:after { content: ' (p. ' target-counter(attr(href url), page) ')'; }

