/* base css file for TTRPG projects */
/* Reminder: 1in = 72 pt; 0.75in = 54pt; 0.5in = 36pt; 0.25in = 18pt; 0.125in = 9 pt; */

@page { size: 1920px 1080px; background-color: black; color: white; margin: 64px; }
header        { display: none;                       }
header p.date { string-set: date content()           }
header h1     { string-set: gamename content()       }

@page:first { margin: 0; padding: 0; }
@page { margin-inside: 768px; }

@page { @left-bottom { font-size: 64px; font-family: var(--font); text-shadow: 0 0 0.25em black; } }
@page { @right-bottom { font-size: 64px; font-family: var(--font); text-shadow: 0 0 0.25em black; } }

@page:right { @left-bottom { content: counter(page); text-align: inside; padding-left: 64px; } }
@page:left  { @right-bottom { content: counter(page); text-align: inside; padding-right: 64px; } }

@page:first { @left-bottom { content: normal; } @right-bottom { content: normal; } }

@prince-pdf {
  -prince-pdf-page-mode: fullscreen;
  -prince-pdf-page-layout: single-page;
}

@font-face { 
  font-family: "Federation";
  font-style: normal;
  font-weight: normal;
  src: url("/home/cadera/.fonts/Federation_1.ttf");
}

:root {
  /* --font-header: "Michroma"; */
  --font: "Michroma";
  --font-bold: "Federation Bold";
  /* --font: "Federation"; */
  --font-header: "Federation Bold"; 
  --font-title: "Battlestar";
  --font-quote: "Reenie Beanie";

  --icon-game: 'game-icons';

  --large:     20px;
  --larger:    18px;
  --body:      16px;
  --smaller:   13px;
  --small:     10px;
  --title:    128px;
  --subtitle:  64px;
  --h1:        64px; 
  --h2:        36px;
  --h3:        32px;
  --h4:        28px;
  --h5:        24px;
  --h6:        20px;
  --th:        16px;

  --color-line:    gray;
  --color-light:   silver;
  --color-toolkit: #006600;

  --bgcolor-sidebar: #EEEEEE;
  --bgcolor-toolkit: #F8FFF8;

  counter-reset: table figure sidebar;
}

.lorem { content: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur '
                  'ornare ex nisi, sit amet aliquet libero bibendum non. Curabitur sed '
                  'ligula eu mi laoreet ornare. Ut tempor pretium ex. Etiam eu semper '
                  'arcu sem gravida metus, at vestibulum erat augue vel ante.'; }

body { color: white; 
  columns: 2 auto;
  column-gap: 64px;
  background-color: rgba(0, 0, 0, 0.75);
  padding: 32px;
  letter-spacing: 0.05em; 
}

body               { font-family: var(--font); font-size: var(--body);      }
td                 { font-size: var(--body); vertical-align: top;           }
th                 { font-family: var(--font-bold); font-size: var(--th); font-weight: normal; }
h1                 { font-family: var(--font-header); font-size: var(--h1); }
h2                 { font-family: var(--font-header); font-size: var(--h2); }
h3                 { font-family: var(--font-header); font-size: var(--h3); }
h4                 { font-family: var(--font-header); font-size: var(--h4); }
h5                 { font-family: var(--font-header); font-size: var(--h5); }
h6                 { font-family: var(--font-header); font-size: var(--h6); }
/* body               { column-count: 2; column-width: auto; column-gap: 36pt; } */
h1                 { break-after: avoid-page; break-inside: avoid;          }
h2, h3, h4, h5, h6 { break-inside: avoid; break-after: avoid;               }
h1                 { column-span: all; text-align: center;                  }
.breakbefore       { break-before: page;                                    }
.colbefore         { break-before: column;                                  }
.nobreak           { break-before: avoid-page;                              }
.nocolbreak        { break-before: avoid-column;                            }
.colspan           { column-span: all;                                      }
.bottom            { column-span: all; float: page-bottom;                  }
p+table            { break-before: avoid-page;                              }
table              { border-collapse: collapse; break-inside: avoid-page;   }
table tr           { break-inside: avoid-page;                              }
table thead        { break-after: avoid;                                    }
table thead        { border-bottom: 0.5pt solid var(--color-line);          }
table th, table td { padding: 2pt;                                          }
table th           { vertical-align: bottom;                                }
table td           { vertical-align: top;                                   }

/* ul, ol       { break-inside: avoid; } */
li           { break-inside: avoid; }
ul, ol       { margin-left: 1em;    }
ul li, ul ol { margin-left: 1em;    }

.sidebar p { margin-top: 6pt; margin-bottom: 0; }
.sidebar { 
  float-placement:   top;
  float-reference:   column;
  border:            0.5pt solid var(--color-line);
  border-radius:     3pt;
  padding-left:      9pt;
  padding-right:     9pt;
  padding-bottom:    6pt;
  margin-bottom:     9pt;
  background:        var(--bgcolor-sidebar);
}

.sidebar.next { float-defer-column: 1;                                                    }
.sidehead     { font-weight: bold; font-family: var(--font-header); font-size: var(--h4); }

img { -prince-image-resolution: 96;
      -prince-image-magic: recompress(50%) convert-to-jpeg(50%) snap-to-integer-coords; } 

p, li { orphans: 3; line-height: 1.60; }

/*
@page { @bottom-center {
  content:         counter(page);
  font-family:     var(--font-headline);
  font-size:       var(--big);
  margin-top:      18pt;
  margin-bottom:   18pt;
  text-align:      center;
} }
*/

/* 
@page { @top-left {
  content:         string(gamename) ' Draft by Cadera Spindrift';
  font-family:     var(--font-header);
  font-size:       var(--small);
  margin-top:      18pt;
  margin-bottom:   16pt;
  margin-left:     -54pt;
  padding-left:    54pt;
  border-bottom:   0.25pt solid var(--color-line);
  color:           var(--color-light);
  text-align:      left;
} }

@page { @top-right {
  content:         'Version ' string(date);
  font-family:     var(--font-header);
  font-size:       var(--small);
  margin-top:      18pt;
  margin-bottom:   16pt;
  margin-right:    -54pt;
  padding-right:   54pt;
  border-bottom:   0.25pt solid var(--color-line);
  color:           var(--color-light);
  text-align:      right;
} }

@page:nth(3) { margin-top: 36pt; }
@page:nth(3) { @bottom-center { content: normal; }  }
@page:nth(3) { @top-left      { content: normal; }  }
@page:nth(3) { @top-right     { content: normal; }  }
*/


figure figcaption { counter-increment: figure; display: block; font-size: var(--th); font-family: var(--font-header); }
table caption     { counter-increment: table; display: block; font-size: var(--th); font-family: var(--font-header);       }
.sidehead         { counter-increment: sidebar;                                                                       }
.chapter          { counter-increment: chapter;                                                                       }
.section          { counter-increment: section;                                                                       }

figure figcaption:before { content: 'Figure ' counter(figure) ': '; }
figure caption:before    { content: 'Table ' counter(table) ': ';   }

#toc {
}
#toc a:before    { content: target-content(attr(href)) ' ';                        }
#toc a:after     { content: leader('. ') target-counter(attr(href), page);         }
#toc ul          { margin-left: 0;                                                 }
#toc ul li       { list-style-type: none; line-height: 1.1;                        }
#toc ul ul li    { margin-left: 8pt; font-weight: normal;                          }
#toc ul ul ul li { font-size: var(--smaller);                                      }
#toc > ul > li   { font-weight: bold; margin-bottom: 4pt; font-size: var(--larger) }
#toc a:link,
#toc a:visited,
#toc a:active,
#toc a:hover { color: yellow; }

#toc ul { -prince-pdf-tag-type: TOC; }
#toc li { -prince-pdf-tag-type: TOCI; }

.tstoolkit { 
  background: var(--bgcolor-toolkit);  
  border: 0.5pt solid var(--color-toolkit); 
  border-radius: 3pt; 
  padding-left: 9pt; padding-right: 9pt; 
}

.tstoolkit p { font-family: var(--font-toolkit); font-size: var(--toolkit); text-align: justify; }
.tstoolkit :matches(h1, h2, h3, h4, h5, h6) { 
  font-family: var(--font-toolkit); 
  color: var(--color-toolkit); 
  margin-bottom: 3pt; margin-top: 3pt; 
}
.tstoolkit h3 { font-size: var(--h5); }
.tstoolkit h4 { font-size: var(--h6); }
.tstoolkit h5 { font-size: var(--larger); }
.tstoolkit h6 { font-size: var(--body); }

.tstoolkit strong { white-space: pre; color: var(--color-toolkit); }
.tstoolkit .icon { white-space: pre; color: var(--color-toolkit); font-weight: bold; }
.tstoolkit .icon:after { font-family: var(--icon-solid); padding-left: 0.25em; display: inline-block; font-weight: normal; }

.tstoolkit .rewind:after { content: '\f04a'; }
.tstoolkit .ff:after     { content: '\f050'; }
.tstoolkit .pause:after  { content: '\f04c'; }
.tstoolkit .resume:after { content: '\f04b'; }

.license { column-span: all; column-count: 3; column-gap: 12pt; font-size: var(--small); page: license; }

.anchor { position: absolute; color: transparent; }

.license h2      { font-size: var(--large); column-span: all; margin-bottom: 3pt; }
.license h3      { font-size: var(--larger);          }
.license li      { break-inside: auto;                }
.license > ol    { margin-left: 9pt;                  }
.license > ol ol { margin-left: 6pt;                  }
.license > ol li { margin-left: 6pt;                  }
.license ol p    { margin-top: 0; margin-bottom: 2pt; }
.license p       { text-align: justify;               }

/*
@page license    { margin: 24pt; padding: 0; }
@page license { @top-left  { content: normal; }  }
@page license { @top-right { content: normal; }  }

*/

/* a:link, a:active, a:visited, a:hover { text-decoration: none; color: black; } */
 *
/* a:link    { text-decoration: none; color: blue;   }
a:active  { text-decoration: none; color: red;    }
a:visited { text-decoration: none; color: purple; }
a:hover   { text-decoration: none; color: red;    } */

.gamename:before { content: string(gamename); font-style: italic; }

.cw:before {  /* content warning */
  font-family: var(--icon-solid);
  content: '\f071';
  display: inline-block;
  margin-right: 0.5em;
  color: #EEDD00;
}

.inclu:before { /* notes on inclusion */
  font-family: var(--icon-solid);
  content: '\f0ac';
  display: inline-block;
  margin-right: 0.5em;
  color: #BB00BB;
}
/*
@page :first { margin: 0; }
@page :first { @top-left      { content: normal; } }
@page :first { @top-right     { content: normal; } }
@page :first { @bottom-center { content: normal; } }
*/


/*
@page:blank { @top-left { content: normal; } }
@page:blank { @top-right { content: normal; } }
@page:blank { @bottom-center { content: normal; } }

@page:nth(2) { @bottom-center { content: 'i'; } }
*/

#charsheet { page: charsheet; break-before: right; height: 11in; width: 8.5in; }
/*
@page charsheet { margin: 0; }
@page charsheet { @top-right     { content: normal; } }
@page charsheet { @top-left      { content: normal; } }
@page charsheet { @bottom-center { content: normal; } }
*/


.tease {
  width: 1920px;
  height: 1080px; 
  position: relative; 
  display: block;
  padding-top: 256px;
  padding-bottom: 256px;
  box-sizing: border-box; 
  background-size: 100% auto;
  background-clip: content-box;
  background-position: center; 
}

.tease figure {
  position: absolute;
  top: 832px;
  left: 128px; right: 128px;
  text-align: center;
}

.tease figure img { width: 512px; display: inline-block; }
.tease figure figcaption { display: none; }

.tease h2, .tease h3, .tease h4, .tease h5 { 
  font-family: var(--font-header); 
  font-size: 64px; 
  position: absolute; 
  display: inline-block; 
  width: auto;
  color: white;
  margin: 0;
  padding: 0;
  text-shadow: 0 0 0.25em black; 
}

.tease:nth-of-type(2n+1) { padding-bottom: 0; }
.tease:nth-of-type(2n+2) { padding-top:    0; }

.tease:nth-of-type(2n+1) h2 { top: 80px; left: 128px; }
.tease:nth-of-type(2n+2) h2 { top: 896px; right: 128px; }

.tease:nth-of-type(n+9) h2 { top: 128px; left: 128px; right: 128px; 
  font-family: var(--font-title);
  font-size: 128px;
  text-align: center; 
  font-weight: normal; 
  letter-spacing: 0.5em;
}

.tease:nth-of-type(n+10) h3 { top: 448px; left: 128px; }
.tease:nth-of-type(n+12) h5 { top: 640px; left: 128px; right: 128px; text-align: center; }
.tease:nth-of-type(n+11) h4 { top: 832px; right: 128px; }

.tease.p1 { background-image: url("../art/nasty.jpg"); background-position: top; }
.tease.p2 { background-image: url("../art/probe.jpg"); }
.tease.p3 { background-image: url("../art/Spacecolony1.jpg"); background-position: top; }
.tease.p4 { background-image: url("../art/parker.jpg"); background-position: top; } 
.tease.p5 { background-image: url("../art/jupiter.jpg"); background-position: bottom; }
.tease.p6 { background-image: url("../art/nebula.jpg"); background-position: top; }
.tease.p7 { background-image: url("../art/funky-interior.jpg"); background-position: top; }
.tease.p8 { background-image: url("../art/earth.jpg"); background-position: top; }
.tease.p9 { background-image: url("../art/earth.jpg"); background-position: top; padding: 0; }
.tease.p10 { background-image: url("../art/earth.jpg"); background-position: top; padding: 0; }
.tease.p11 { background-image: url("../art/earth.jpg"); background-position: top; padding: 0; }
.tease.p13 h2 { font-size: 64pt; top: 192pt; }
.tease.p13 h3 { top: 800px; right: 128px; left: 128px; text-align: center; }

/* .tease.p1 { background-image: url("../art/blue.jpg"); background-position: bottom; } */
/* .tease.p7 { background-image: url("../art/island3.jpg"); background-position: 0 64px; } */
/* .tease.p7 { background-image: url("../art/green-station.jpg"); background-position: center; } */
/* .tease.p12 { background-image: url("../art/earth.jpg"); background-position: top; padding: 0; } */

#cover { 
  /* break-after: page;  */
  column-span: all; 
  width: 1920px; 
  height: 1080px; 
  position: relative; 
  overflow: clip;
  background-image: url("../art/earth.jpg");
  background-position: 0 128px;
  padding-bottom: 256px;
  margin: -32px;
  padding-top: 256px;
  box-sizing: border-box; 
  background-size: 100% auto;
  background-clip: content-box;
  background-repeat: no-repeat;
}

#cover h1.title { 
  color: white;
  font-family: var(--font-title);
  font-size: var(--title); 
  font-size: 128px;
  font-weight: normal; 
  left: 128px;
  letter-spacing: 0.5em;
  position: absolute; 
  right: 128px;
  text-align: center; 
  text-transform: uppercase;
  top: 72px;
}

#cover h2, #cover h3, #cover h4, #cover h5 { 
  position: absolute; 
  text-align: center; 
  font-size: var(--subtitle); 
  font-size: 64px;
  color: white;
  left: 256px; 
  right: 256px; 
  padding: 0;
  text-shadow: 0 0 0.25em black; 
  margin: 0;
}

#cover h2 { top: 350px; text-align: left; }
#cover h3 { top: 510px; text-align: right; }
#cover h4 { top: 670px; text-align: center; }
#cover h5 { top: 900px;  }

#cover img { 
  width: 384px; 
  position: absolute;
  height: auto;
  right: 64px;
  top: 835px;
}

.title { font-family: var(--font-title); 
  font-weight: normal; 
  text-transform: uppercase; 
  letter-spacing: 0.5em;
}

h2.headline { 
  font-size: 80px; 
  column-span: all;
  margin-bottom: 32px;
  text-align: center;
}


@page { background-size: 100% auto; background-repeat: no-repeat; }

@page:nth(2)  { background-image: url("../art/blue-2.jpg"         ); /* background-position:  1280px bottom; */ }
@page:nth(3)  { background-image: url("../art/blue-voyager.jpg"   ); /* background-position: -1280px bottom; */ }
@page:nth(4)  { background-image: url("../art/fuel-satellite.jpg" ); /* background-position:  1280px bottom; */ }
@page:nth(5)  { background-image: url("../art/golden-record.png"  ); /* background-position: -1280px bottom; */ }
@page:nth(6)  { background-image: url("../art/hydrogen-depot.jpg" ); /* background-position:  1280px bottom; */ }
@page:nth(7)  { background-image: url("../art/red-nebula.jpg"     ); /* background-position: -1280px bottom; */ }
@page:nth(8)  { background-image: url("../art/voyager.jpg"        ); /* background-position:  1280px bottom; */ }
@page:nth(9)  { background-image: url("../art/venus-approach.jpg" ); /* background-position: -1280px bottom; */ }
@page:nth(10) { background-image: url("../art/green-station.jpg"  ); /* background-position:  1280px bottom; */ }
@page:nth(11) { background-image: url("../art/Spacecolony1.jpg"   ); /* background-position: -1280px bottom; */ }
@page:nth(12) { background-image: url("../art/saturn.jpg"         ); /* background-position:  1280px bottom; */ }
@page:nth(13) { background-image: url("../art/Spacecolony1.jpg"   ); /* background-position: -1280px bottom; */ }
@page:nth(14) { background-image: url("../art/voyager.jpg"        ); /* background-position:  1280px bottom; */ }
@page:nth(15) { background-image: url("../art/Spacecolony1.jpg"   ); /* background-position: -1280px bottom; */ }

.class { break-before: page; }

.class h3:first-child { font-size: var(--h1); column-span: all; font-family: var(--font-title); text-align: center; letter-spacing: 0.25em; }
.class table { column-span: all; border-collapse: collapse; border: 1pt solid white; width: 100%; margin-bottom: 32px; }
.class table :matches(td, th) { width: 16.666%; padding: 16px; }
.class table td { font-size: var(--large); } 
.class table td:nth-child(3) { border-right: 1px solid silver; }
.class table th:nth-child(3) { border-right: 1px solid silver; }

.classtable table { margin: 32px; }
.classtable table :matches(td, th) { width: 10%; padding: 4px; }
.classtable table :matches(td, th):first-child { width: 20%; }
.classtable { float: page bottom; column-span: all; }
.classtable tr { border-bottom: 0.25px solid gray; }
.classtable tr:last-child { border-bottom: none; }

strong { font-family: var(--font-header); font-weight: normal; } 

ul li { list-style-type: none; }
ul li strong { margin-left: -1em; padding-right: 0.5em; }
ol li { margin-left: 2em; }

h1, h2, h3, h4, h5, h6 { font-weight: normal; }

.infotable table { padding: 8px; background-color: rgba(255, 255, 255, 0.15); }
.infotable table :matches(th, td) { font-family: "PT Sans Narrow"; }

.infolist ul li strong { font-size: 90%; font-weight: normal; font-family: var(--font); }
.infolist ul { background-color: rgba(255, 255, 255, 0.25); padding: 6px 12px; }
.infolist ul li { font-family: "Noto Sans Cond"; }

blockquote { font-family: var(--font-quote); }

