/* base css file for TTRPG projects */
/* Reminder: 1in = 72 pt; 0.75in = 54pt; 0.5in = 36pt; 0.25in = 18pt; 0.125in = 9 pt; */

@import "pics.css";

@page { size: 1920px 1080px; background-color: black; color: white; margin: 64px; }
header        { display: none;                       }
header p.date { string-set: date content()           }
header h1     { string-set: gamename content()       }

@page:first { margin: 0; padding: 0; }
@page { margin-inside: 768px; }

@page { @left-bottom { font-size: 64px; font-family: var(--font-header); text-shadow: 0 0 0.25em black; } }
@page { @right-bottom { font-size: 64px; font-family: var(--font-header); text-shadow: 0 0 0.25em black; } }

@page:right { @left-bottom { content: counter(page); text-align: inside; padding-left: 64px; } }
@page:left  { @right-bottom { content: counter(page); text-align: inside; padding-right: 64px; } }

@page:first { @left-bottom { content: normal; } @right-bottom { content: normal; } }

@prince-pdf {
  -prince-pdf-page-mode: fullscreen;
  -prince-pdf-page-layout: single-page;
}

@font-face { 
  font-family: "Federation";
  font-style: normal;
  font-weight: normal;
  src: url("/home/cadera/.fonts/Federation_1.ttf");
}

:root {
  /* --font-header: "Michroma"; */
  /* --font-info: "PT Sans Narrow"; */
  /* --font: "Federation"; */
  --font: "Michroma";
  --font-bold: "Federation Bold";
  --font-header: "Federation Bold"; 
  --font-title: "Battlestar";
  --font-quote: "Shadows Into Light";
  --font-block: "Wallpoet";
  /* --font-info: "Noto Sans Cond"; */
  --font-info: "Noto Sans SemCond";
  --font-chinese: "Noto Sans SC";

  --icon-game: 'game-icons';

  --large:     20px;
  --larger:    18px;
  --body:      16px;
  --smaller:   13px;
  --small:     10px;
  --title:    128px;
  --subtitle:  64px;
  --h1:        64px; 
  --h2:        36px;
  --h3:        32px;
  --h4:        28px;
  --h5:        24px;
  --h6:        20px;
  --th:        16px;

  --color-line:    gray;
  --color-light:   silver;
  --color-toolkit: #006600;

  --bgcolor-sidebar: #EEEEEE;
  --bgcolor-toolkit: #F8FFF8;

  counter-reset: table figure sidebar;
}

.lorem { content: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur '
                  'ornare ex nisi, sit amet aliquet libero bibendum non. Curabitur sed '
                  'ligula eu mi laoreet ornare. Ut tempor pretium ex. Etiam eu semper '
                  'arcu sem gravida metus, at vestibulum erat augue vel ante.'; }

body { color: white; 
  columns: 2 auto;
  column-gap: 64px;
  background-color: rgba(0, 0, 0, 0.75);
  padding: 32px;
  letter-spacing: 0.05em; 
}

body               { font-family: var(--font); font-size: var(--body);      }
td                 { font-size: var(--body); vertical-align: top;           }
th                 { font-family: var(--font-bold); font-size: var(--th); font-weight: normal; }
h1                 { font-family: var(--font-header); font-size: var(--h1); }
h2                 { font-family: var(--font-header); font-size: var(--h2); }
h3                 { font-family: var(--font-header); font-size: var(--h3); }
h4                 { font-family: var(--font-header); font-size: var(--h4); }
h5                 { font-family: var(--font-header); font-size: var(--h5); }
h6                 { font-family: var(--font-header); font-size: var(--h6); }
h1                 { break-after: avoid-page; break-inside: avoid;          }
h2, h3, h4, h5, h6 { break-inside: avoid; break-after: avoid;               }
h1                 { column-span: all; text-align: center;                  }
.breakbefore       { break-before: page;                                    }
.colbefore         { break-before: column;                                  }
.nobreak           { break-before: avoid-page;                              }
.nocolbreak        { break-before: avoid-column;                            }
.colspan           { column-span: all;                                      }
.bottom            { column-span: all; float: page-bottom;                  }
p+table            { break-before: avoid-page;                              }
table              { border-collapse: collapse; break-inside: avoid-page;   }
table tr           { break-inside: avoid-page;                              }
table thead        { break-after: avoid;                                    }
table thead        { border-bottom: 0.5pt solid var(--color-line);          }
table th, table td { padding: 2pt;                                          }
table th           { vertical-align: bottom;                                }
table td           { vertical-align: top;                                   }

li           { break-inside: avoid; }
ul, ol       { margin-left: 1em;    }
ul li, ul ol { margin-left: 1em;    }

.sidebar p { margin-top: 6pt; margin-bottom: 0; }
.sidebar { 
  float-placement:   top;
  float-reference:   column;
  border:            0.5pt solid var(--color-line);
  border-radius:     3pt;
  padding-left:      9pt;
  padding-right:     9pt;
  padding-bottom:    6pt;
  margin-bottom:     9pt;
  background:        var(--bgcolor-sidebar);
}

.sidebar.next { float-defer-column: 1;                                                    }
.sidehead     { font-weight: bold; font-family: var(--font-header); font-size: var(--h4); }

img { -prince-image-resolution: 96;
      -prince-image-magic: recompress(50%) convert-to-jpeg(50%) snap-to-integer-coords; } 

p, li { orphans: 3; line-height: 1.60; }

a:link, a:visited, a:active, a:hover { color: yellow; text-decoration: none; }

.anchor { position: absolute; color: transparent; }

.gamename:before { content: string(gamename); font-style: italic; }

#charsheet { page: charsheet; break-before: right; height: 11in; width: 8.5in; }

.tease {
  width: 1920px;
  height: 1080px; 
  position: relative; 
  display: block;
  padding-top: 256px;
  padding-bottom: 256px;
  box-sizing: border-box; 
  background-size: 100% auto;
  background-clip: content-box;
  background-position: center; 
}

.tease figure {
  position: absolute;
  top: 832px;
  left: 128px; right: 128px;
  text-align: center;
}

.tease figure img { width: 512px; display: inline-block; }
.tease figure figcaption { display: none; }

.tease h2, .tease h3, .tease h4, .tease h5 { 
  font-family: var(--font-header); 
  font-size: 64px; 
  position: absolute; 
  display: inline-block; 
  width: auto;
  color: white;
  margin: 0;
  padding: 0;
  text-shadow: 0 0 0.25em black; 
}

.tease:nth-of-type(2n+1) { padding-bottom: 0; }
.tease:nth-of-type(2n+2) { padding-top:    0; }

.tease:nth-of-type(2n+1) h2 { top: 80px; left: 128px; }
.tease:nth-of-type(2n+2) h2 { top: 896px; right: 128px; }

.tease:nth-of-type(n+9) h2 { top: 128px; left: 128px; right: 128px; 
  font-family: var(--font-title);
  font-size: 128px;
  text-align: center; 
  font-weight: normal; 
  letter-spacing: 0.5em;
}

.tease:nth-of-type(n+10) h3 { top: 448px; left: 128px; }
.tease:nth-of-type(n+12) h5 { top: 640px; left: 128px; right: 128px; text-align: center; }
.tease:nth-of-type(n+11) h4 { top: 832px; right: 128px; }

.tease.p1 { background-image: url("../art/nasty.jpg"); background-position: top; }
.tease.p2 { background-image: url("../art/probe.jpg"); }
.tease.p3 { background-image: url("../art/Spacecolony1.jpg"); background-position: top; }
.tease.p4 { background-image: url("../art/parker.jpg"); background-position: top; } 
.tease.p5 { background-image: url("../art/jupiter.jpg"); background-position: bottom; }
.tease.p6 { background-image: url("../art/nebula.jpg"); background-position: top; }
.tease.p7 { background-image: url("../art/funky-interior.jpg"); background-position: top; }
.tease.p8 { background-image: url("../art/earth.jpg"); background-position: top; }
.tease.p9 { background-image: url("../art/earth.jpg"); background-position: top; padding: 0; }
.tease.p10 { background-image: url("../art/earth.jpg"); background-position: top; padding: 0; }
.tease.p11 { background-image: url("../art/earth.jpg"); background-position: top; padding: 0; }
.tease.p13 h2 { font-size: 64pt; top: 192pt; }
.tease.p13 h3 { top: 800px; right: 128px; left: 128px; text-align: center; }

#cover { 
  column-span: all; 
  width: 1920px; 
  height: 1080px; 
  position: relative; 
  overflow: clip;
  background-image: url("../art/earth.jpg");
  background-position: 0 128px;
  padding-bottom: 256px;
  margin: -32px;
  padding-top: 256px;
  box-sizing: border-box; 
  background-size: 100% auto;
  background-clip: content-box;
  background-repeat: no-repeat;
}

#cover h1.title { 
  color: white;
  font-family: var(--font-title);
  font-size: var(--title); 
  font-size: 128px;
  font-weight: normal; 
  left: 128px;
  letter-spacing: 0.5em;
  position: absolute; 
  right: 128px;
  text-align: center; 
  text-transform: uppercase;
  top: 72px;
}

#cover h2, #cover h3, #cover h4, #cover h5 { 
  position: absolute; 
  text-align: center; 
  font-size: var(--subtitle); 
  font-size: 64px;
  color: white;
  left: 256px; 
  right: 256px; 
  padding: 0;
  text-shadow: 0 0 0.25em black; 
  margin: 0;
}

#cover h2 { top: 350px; text-align: left; }
#cover h3 { top: 510px; text-align: right; }
#cover h4 { top: 670px; text-align: center; }
#cover h5 { top: 900px;  }

#cover img { 
  width: 384px; 
  position: absolute;
  height: auto;
  right: 64px;
  top: 835px;
}

.title { font-family: var(--font-title); 
  font-weight: normal; 
  text-transform: uppercase; 
  letter-spacing: 0.5em;
}

h2.headline { 
  font-size: 80px; 
  column-span: all;
  margin-bottom: 32px;
  text-align: center;
}


@page { background-size: 100% auto; background-repeat: no-repeat; }

.class { break-before: page; }

.class table { column-span: all; border-collapse: collapse; border: 1pt solid white; width: 100%; margin-bottom: 32px; }
.class table :matches(td, th) { width: 16.666%; padding: 16px; }
.class table td { font-size: var(--h3); font-family: var(--font-header); } 
.class table td:nth-child(3) { border-right: 1px solid silver; }
.class table th:nth-child(3) { border-right: 1px solid silver; }
.class table th { font-weight: normal; font-size: var(--large); font-family: var(--font); }

.classtable table { font-family: var(--font-header);
   margin: 32px;
   background: rgba(128, 128, 128, 0.2);
   padding: 6pt;
   }
.classtable table :matches(td, th) { width: 10%; padding: 8px; font-size: var(--large); }
.classtable table :matches(td, th):first-child { width: 20%; }
.classtable { float: page bottom; column-span: all; }
.classtable table td:first-child { font-family: var(--font); }
.classtable table :matches(td, th):nth-child(4) { border-right: 1px solid gray;
   padding-right: 1em;
   }

strong { font-family: var(--font-header); font-weight: normal; } 

ul li { list-style-type: none; }
ul { margin-left: 1.5em; break-inside: avoid; }
ul li strong { margin-left: -1.5em; padding-right: 0.25em; }
ol li { margin-left: 2em; }

.breakable ul { break-inside: auto; }

h1, h2, h3, h4, h5, h6 { font-weight: normal; }

.infotable table { padding: 8px; background-color: rgba(255, 255, 255, 0.15); }
.infotable table :matches(th, td) { font-family: var(--font-info); }

.infolist ul li strong { font-size: 90%; font-weight: normal; font-family: var(--font-header); }
.infolist ul { background-color: rgba(255, 255, 255, 0.25); padding: 6px 12px; margin-left: 0; }
.infolist ul li { padding-left: 1em; font-family: "Noto Sans Cond"; font-size: 20px; }

.infolist.dark ul { background-color: rgba(255, 255, 255, 0.10); }

blockquote p strong { font-family: var(--font-quote); }
blockquote p { line-height: 1.25; }
.redalert blockquote p { line-height: 1.4; }
blockquote { font-family: var(--font-quote); font-size: 24px; }
.redalert blockquote { font-family: var(--font-block); font-size: 18px; } 
blockquote .credit { display: block; font-family: var(--font-info); margin-left: 25%; text-align: right; font-size: 20px; padding-top: 4px; break-before: avoid; }

blockquote .chinese { font-family: var(--font-chinese); }

.traveltimes { float: column bottom; margin-top: 9pt; }

h2.breakbefore { column-span: all; }

.class table { margin-top: 12pt; }
.class h2 { 
  font-size: var(--h1); 
}
.class h3.classquote { 
   font-family: var(--font);
   font-weight: normal;
   text-align: center;
   column-span: all;
   font-style: italic;
   margin-top: 12px;
   margin-bottom: 24px;
   margin-left: 192px;
   margin-right: 192px;
}

a.page:after { content: ' (p. ' target-counter(attr(href url), page) ')'; }

