/* base css file for TTRPG projects */
/* Reminder: 1in = 72 pt; 0.75in = 54pt; 0.5in = 36pt; 0.25in = 18pt; 0.125in = 9 pt; */

@import "pics.css";

@page { size: 1920px 1080px; background-color: black; color: white; margin: 64px; }
header        { display: none;                       }
header p.date { string-set: date content()           }
header h1     { string-set: gamename content()       }

@page:nth(2) { @top-right {
  font-family: var(--font);
  color: var(--color-light);
  font-style: italic;
  text-align: right;
  font-size: var(--small);
  content: string(date);
  padding-right: 32px;
  padding-top: 64px;
  margin-bottom: -64px;
} }

@page:first { margin: 0; padding: 0; }
@page { margin-inside: 704px; }

@page { @left-bottom { font-size: 64px; font-family: var(--font-header); text-shadow: 0 0 0.25em black; } }
@page { @right-bottom { font-size: 64px; font-family: var(--font-header); text-shadow: 0 0 0.25em black; } }

@page:right { @left-bottom { content: counter(page); text-align: inside; padding-left: 64px; } }
@page:left  { @right-bottom { content: counter(page); text-align: inside; padding-right: 64px; } }

@page:first { @left-bottom { content: normal; } @right-bottom { content: normal; } }

@prince-pdf {
  -prince-pdf-page-mode: fullscreen;
  -prince-pdf-page-layout: single-page;
}

@font-face { 
  font-family: "Federation";
  font-style: normal;
  font-weight: normal;
  src: url("/home/cadera/.fonts/Federation_1.ttf");
}

:root {
  --font: "Michroma";
  --font-bold: "Federation Bold";
  --font-header: "Federation Bold"; 
  --font-title: "Battlestar";
  --font-quote: "Shadows Into Light";
  --font-block: "Wallpoet";
  --font-info: "Noto Sans SemCond";
  --font-chinese: "Noto Sans SC";

  --icon-game: 'game-icons';

  --large:     22px;
  --larger:    20px;
  --body:      18px;
  --smaller:   15px;
  --small:     13px;
  --title:    128px;
  --subtitle:  64px;
  --headline:  80px;
  --subhed:    64px;
  --h1:        64px; 
  --h2:        36px;
  --h3:        30px;
  --h4:        24px;
  --h5:        22px;
  --h6:        18px;
  --th:        18px;
  --quotesize: 36px;
  --quotesize-redalert: 24px;
  --quotesize-inline: 24px;
  --creditsize: 24px;
  --creditsize-inline: 20px;
  --captionsize: 22px;
  --captionsize-small: 16px;

  --color-line:    gray;
  --color-light:   silver;
  --color-toolkit: #006600;

  --bg-dark:      rgba(  0,   0,   0, 0.75);
  --bg-light:     rgba(128, 128, 128, 0.20);
  --bg-info:      rgba(255, 255, 255, 0.15); 
  --bg-info-dark: rgba(  0,   0,   0, 0.10);
  --bg-quote:     rgba(  0,   0,   0, 0.75);
}

.lorem { content: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur '
                  'ornare ex nisi, sit amet aliquet libero bibendum non. Curabitur sed '
                  'ligula eu mi laoreet ornare. Ut tempor pretium ex. Etiam eu semper '
                  'arcu sem gravida metus, at vestibulum erat augue vel ante.'; }

body { color: white; 
  columns: 2 auto;
  column-gap: 64px;
  background-color: var(--bg-dark);
  padding: 32px;
}

body p { letter-spacing: 0.05em; }

body               { font-family: var(--font); font-size: var(--body);      }
td                 { font-size: var(--body); vertical-align: top;           }
h1                 { font-family: var(--font-header); font-size: var(--h1); }
h2                 { font-family: var(--font-header); font-size: var(--h2); }
h3                 { font-family: var(--font-header); font-size: var(--h3); }
h4                 { font-family: var(--font-header); font-size: var(--h4); }
h5                 { font-family: var(--font-header); font-size: var(--h5); }
h6                 { font-family: var(--font-header); font-size: var(--h6); }
h1                 { break-after: avoid-page; break-inside: avoid;          }
h2, h3, h4, h5, h6 { break-inside: avoid; break-after: avoid;               }
h1                 { column-span: all; text-align: center;                  }
.breakbefore       { break-before: page;                                    }
.colbefore         { break-before: column;                                  }
.nobreak           { break-before: avoid-page;                              }
.nocolbreak        { break-before: avoid-column;                            }
.colspan           { column-span: all;                                      }
.bottom            { column-span: all; float: page-bottom;                  }
p+table            { break-before: avoid-page;                              }
table              { border-collapse: collapse; break-inside: avoid-page;   }
table tr           { break-inside: avoid-page;                              }
table thead        { break-after: avoid;                                    }
table thead        { border-bottom: 0.5pt solid var(--color-line);          }
table th, table td { padding: 2pt;                                          }
table th           { vertical-align: bottom;                                }
table td           { vertical-align: top;                                   }

h1, h2, h3, h4, h5, h6 { font-weight: normal; }

th { 
  font-family: var(--font-bold);
  font-size: var(--th);
  font-weight: normal;
  white-space: pre;
  }

li           { break-inside: avoid; }
ul, ol       { margin-left: 1em;    }
ul li, ul ol { margin-left: 1em;    }

.sidebar p { margin-top: 6pt; margin-bottom: 0; }
.sidebar { 
  float-placement:   top;
  float-reference:   column;
  border:            0.5pt solid var(--color-line);
  border-radius:     3pt;
  padding-left:      9pt;
  padding-right:     9pt;
  padding-bottom:    6pt;
  margin-bottom:     9pt;
  background:        var(--bgcolor-sidebar);
}

.sidebar.next { float-defer-column: 1;                                                    }
.sidehead     { font-weight: bold; font-family: var(--font-header); font-size: var(--h4); }

img { -prince-image-resolution: 96;
      -prince-image-magic: recompress(50%) convert-to-jpeg(50%) snap-to-integer-coords; } 

p, li { orphans: 3; line-height: 1.70; }
p { widows: 2; }

a:link, a:visited, a:active, a:hover { color: yellow; text-decoration: none; }

.anchor { position: absolute; color: transparent; }

.gamename:before { content: string(gamename); font-family: var(--font-title); }

#charsheet { page: charsheet; break-before: right; height: 11in; width: 8.5in; }

.tease {
  width: 1920px;
  height: 1080px; 
  position: relative; 
  display: block;
  padding-top: 256px;
  padding-bottom: 256px;
  box-sizing: border-box; 
  background-size: 100% auto;
  background-clip: content-box;
  background-position: center; 
}

.tease figure {
  position: absolute;
  top: 832px;
  left: 128px; right: 128px;
  text-align: center;
}

.tease figure img { width: 512px; display: inline-block; }
.tease figure figcaption { display: none; }

.tease h2, .tease h3, .tease h4, .tease h5 { 
  font-family: var(--font-header); 
  font-size: 64px; 
  position: absolute; 
  display: inline-block; 
  width: auto;
  color: white;
  margin: 0;
  padding: 0;
  text-shadow: 0 0 0.25em black; 
}

.tease:nth-of-type(2n+1) { padding-bottom: 0; }
.tease:nth-of-type(2n+2) { padding-top:    0; }

.tease:nth-of-type(2n+1) h2 { top: 80px; left: 128px; }
.tease:nth-of-type(2n+2) h2 { top: 896px; right: 128px; }

.tease:nth-of-type(n+9) h2 { top: 128px; left: 128px; right: 128px; 
  font-family: var(--font-title);
  font-size: 128px;
  text-align: center; 
  font-weight: normal; 
  letter-spacing: 0.5em;
}

.tease:nth-of-type(n+10) h3 { top: 448px; left: 128px; }
.tease:nth-of-type(n+12) h5 { top: 640px; left: 128px; right: 128px; text-align: center; }
.tease:nth-of-type(n+11) h4 { top: 832px; right: 128px; }

.tease.p1 { background-image: url("../art/nasty.jpg"); background-position: top; }
.tease.p2 { background-image: url("../art/probe.jpg"); }
.tease.p3 { background-image: url("../art/Spacecolony1.jpg"); background-position: top; }
.tease.p4 { background-image: url("../art/parker.jpg"); background-position: top; } 
.tease.p5 { background-image: url("../art/jupiter.jpg"); background-position: bottom; }
.tease.p6 { background-image: url("../art/nebula.jpg"); background-position: top; }
.tease.p7 { background-image: url("../art/funky-interior.jpg"); background-position: top; }
.tease.p8 { background-image: url("../art/earth.jpg"); background-position: top; }
.tease.p9 { background-image: url("../art/earth.jpg"); background-position: top; padding: 0; }
.tease.p10 { background-image: url("../art/earth.jpg"); background-position: top; padding: 0; }
.tease.p11 { background-image: url("../art/earth.jpg"); background-position: top; padding: 0; }
.tease.p13 h2 { font-size: 64pt; top: 192pt; }
.tease.p13 h3 { top: 800px; right: 128px; left: 128px; text-align: center; }

#cover { 
  column-span: all; 
  width: 1920px; 
  height: 1080px; 
  position: relative; 
  overflow: clip;
  background-image: url("../art/earth.jpg");
  background-position: 0 128px;
  padding-bottom: 256px;
  margin: -32px;
  padding-top: 256px;
  box-sizing: border-box; 
  background-size: 100% auto;
  background-clip: content-box;
  background-repeat: no-repeat;
}

#cover h1.title { 
  color: white;
  font-family: var(--font-title);
  font-size: var(--title); 
  font-size: 128px;
  font-weight: normal; 
  left: 128px;
  letter-spacing: 0.5em;
  position: absolute; 
  right: 128px;
  text-align: center; 
  text-transform: uppercase;
  top: 72px;
}

#cover h2, #cover h3, #cover h4, #cover h5 { 
  position: absolute; 
  text-align: center; 
  font-size: var(--subtitle); 
  font-size: 64px;
  color: white;
  left: 256px; 
  right: 256px; 
  padding: 0;
  text-shadow: 0 0 0.25em black; 
  margin: 0;
}

#cover h2 { top: 350px; text-align: left; }
#cover h3 { top: 510px; text-align: center; }
#cover h4 { top: 670px; text-align: center; }
#cover h5 { top: 900px;  }

#cover img { 
  width: 384px; 
  position: absolute;
  height: auto;
  right: 64px;
  top: 835px;
}

.title { font-family: var(--font-title); 
  font-weight: normal; 
  text-transform: uppercase; 
  letter-spacing: 0.5em;
}

h2.headline { 
  font-size: var(--headline);
  column-span: all;
  margin-bottom: 32px;
  text-align: center;
}


@page { background-size: 100% auto; background-repeat: no-repeat; }

.class { break-before: page; }

.class table { column-span: all;
  margin: 0;
  border: 1pt solid white;
  position: absolute;
  bottom: 32px;
  left: 32px;
  right: 32px;
  box-sizing: border-box;
  width: 1088px;
  }
.class table :matches(td, th) { 
  padding: 16px;
  box-sizing: border-box;
  width: 181.333px;
  }
.class table td { font-size: var(--h3);
  font-family: var(--font-header);
  } 
.class table td:nth-child(3) { border-right: 1px solid silver;
  }
.class table th:nth-child(3) { border-right: 1px solid silver;
  }
.class table th { font-weight: normal;
  font-size: var(--large);
  font-family: var(--font);
  }
.class h2 {
  column-span: all;
  font-family: var(--font-title);
  font-size: var(--subhed);
  text-align: center;
  letter-spacing: 0.5em;
}
.class h3.classquote { 
   position: absolute;
   top: 112px;
   text-shadow: 0 0 6px black;
   left: 0;
   font-family: var(--font);
   font-weight: normal;
   text-align: center;
   column-span: all;
   font-style: italic;
   margin-inside: -576px;
   margin-outside: 1280px;
   margin-top: 0;
   margin-bottom: 0;
}


.classtable table { font-family: var(--font-header);
   margin: 32px;
   background: var(--bg-light);
   padding: 6pt;
   }
.classtable table :matches(td, th) { width: 10%; padding: 8px; font-size: var(--large); }
.classtable table :matches(td, th):first-child { width: 20%; }
.classtable { float: page bottom; column-span: all; }
.classtable table td:first-child { font-family: var(--font); }
.classtable table :matches(td, th):nth-child(4) { border-right: 1px solid gray;
   padding-right: 1em;
   }

strong { 
  font-family: var(--font-header);
  font-weight: normal;
  font-size: 125%;
  vertical-align: baseline;
  position: relative;
  top: 1px;
  line-height: none;
  letter-spacing: 0;
  word-spacing: -0.15em;
  } 
td strong, p strong { color: #90FFFF;
  }

ul li { list-style-type: none; }
ul { margin-left: 1.5em; break-inside: avoid; }
ul li strong { margin-left: -1.5em; padding-right: 0.25em; }
ol li { margin-left: 2em; }

.breakable ul { break-inside: auto; }
.unbreakable { break-inside: avoid; }

h1, h2, h3, h4, h5, h6 { font-weight: normal; }

.infotable table { 
  padding: 8px; 
  background-color: var(--bg-info);
}
.infotable table :matches(th, td) { font-family: var(--font-info); font-size: 20px; }
.infotable th { font-weight: bold; }

.infotable td strong { font-size: 100%; font-weight: bold; font-family: var(--font-info); }

.infolist ul li strong { 
  font-size: 100%;
  font-weight: normal; 
  font-family: var(--font-header); 
}
.infolist ul { 
  background-color: var(--bg-info);
  padding: 6px 12px; 
  margin-left: 0; 
}
.infolist ul li { padding-left: 1em; font-family: "Noto Sans Cond"; font-size: 20px; }

.infolist.dark ul { background-color: var(--bg-info-dark); }

.nofloat blockquote { 
  position: static; 
  margin-left: 0; 
  width: auto; 
  background: none;
  padding: 0; 
  margin-inside: 0;
  margin-outside: 0;
}
.nofloat blockquote p { font-size: var(--quotesize-inline); text-shadow: none; }
.nofloat blockquote p .credit { font-size: var(--creditsize-inline); }

blockquote { 
  box-sizing: border-box;
  /* width: 576px; */
  position: absolute; top: 0; left: 0;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 36px;
  padding-right: 36px;
  background: var(--bg-quote);
  margin-inside: -640px;
  margin-outside: 1216px;
  margin-top: 0;
  margin-bottom: 0;
}

blockquote p strong { font-family: var(--font-quote);
  }
blockquote p { line-height: 1.25; text-shadow: 0 0 6px black; }
.redalert blockquote p { line-height: 1.4; }
blockquote { font-family: var(--font-quote);
  font-size: var(--quotesize);
  }
.redalert blockquote { 
  font-family: var(--font-block);
  font-size: var(--quotesize-redalert);
  } 
blockquote p .credit { display: block;
  font-family: var(--font-info);
  margin-left: 50%;
  text-align: right;
  font-size: var(--creditsize);
  padding-top: 8px;
  break-before: avoid;
  }

blockquote .chinese { font-family: var(--font-chinese); }

.traveltimes { float: column bottom; margin-top: 9pt; }

a.page:after { content: ' (p. ' target-counter(attr(href url), page) ')'; }


#toc {
  width: 576px;
  position: absolute;
  top: 0;
  right: -640px;
  break-after: page; 
  break-inside: avoid; 
  box-sizing: border-box;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 16px;
  padding-bottom: 16px;
  background: var(--bg-dark);
}

#toc ul { margin-left: 0; margin: 0; padding: 0; }
#toc ul li { margin-bottom: 0; margin-left: 0; }
#toc ul li li { 
  margin-bottom: 0; 
  margin-left: 1em; 
  line-height: 1.4;
}
#toc ul li li a:before { 
  font-size: var(--body);  
  color: white;
}
#toc ul li li a:after { 
  font-size: var(--body); 
  color: white;
}
#toc a:before { 
  content: target-content(attr(href));
  color: yellow;
  font-family: var(--font);
  text-shadow: 0 0 6px black;
  font-size: var(--larger);
  display: inline-block;
  }
#toc a { 
  content: leader(' \22ef\2d\2d\2d\22ef');
  color: #99ddff;
  font-family: var(--font);
  font-size: var(--larger);
  }
#toc a:after { 
  content: target-counter(attr(href), page);
  font-family: var(--font-bold);
  font-size: var(--larger);
  color: yellow;
  text-shadow: 0 0 6px black;
  display: inline-block;
  text-align: right; 
  width: 32px;
  }

.timeline ul { break-inside: auto; margin: 0; }
.timeline ul li { break-inside: avoid; }
.timeline ul li { margin-left: 88px; }
.timeline ul li strong:first-child { 
  margin-left: -88px; 
  display: inline-block; 
  width: 80px; }


.drops table { width: 100%; }
.drops table :matches(th, td):nth-child(1) { white-space: pre; }
.drops table :matches(th, td):nth-child(2) { white-space: pre; }

.opstable table { break-inside: auto; }
.dying table { width: 100%; }

.opsmastertable { column-span: all; } 
.opsmastertable table {
  position: absolute; 
  bottom: 32px;
  left: 32px;
  width: 1080px; 
  column-span: all; 
}

.pion-sketch.hide { display: none; } 

.pion-sketch figure {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 8px;
  padding-right: 8px;
  display: block;
  width: 512px;
  height: auto;
  float: top;
  box-sizing: border-box;
  position: relative;
  border: 0.5px solid white;
  background-color: var(--bg-light);
  border-radius: 3px 36px;
  margin-top: 32px;
  margin-bottom: 32px;
}

.pion-sketch figure img {
  width: 496px;
}

.pion-sketch figure:after {
  display: block;
  position: absolute;
  content: "Artist's Depiction via Operative @SHADEFISH1";
  bottom: 3px;
  right: 6px;
  font-family: var(--font-block);
  font-size: var(--captionsize-small);
  color: white;
}

.pion-sketch.unknown figure:after {
  content: normal;
}

.pion-sketch figcaption:before {
  content: 'Classified Intelligence: ';
  text-transform: none;
}

.pion-sketch figcaption {
  position: absolute;
  top: -16px;
  left: -16px;
  padding: 4px;
  font-family: var(--font-block);
  background: white;
  color: black;
  font-size: var(--captionsize);
  border-radius: 6px;
  max-width: 512px;
  text-transform: uppercase;
  height: auto;
  vertical-align: bottom;
  font-weight: bold;
}

